<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Citi Cycles</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <!-- <link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <!-- <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='lib/magnific-popup/magnific-popup.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  
  <link href="{{url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Avilon
    Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" id="navigate" class="scrollto">Citi Cycles</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title=""></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <!-- <li class="menu-active"><a href="#intro">Home</a></li> -->
          <li><a href="#about">About The Data</a></li>
          <li><a href="#features">The Process</a></li>
          <li><a href="#team">Tech Stack</a></li>
          <li><a href="#faq">Next Steps</a></li>
          <li><a href="#contact">My Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-text">
      
      <a href="/dashboard" class="btn-get-started scrollto">Get Started</a>
    </div>


  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About The Data Section
    ============================-->
    <section id="about" class="section-bg">
      <div class="container-fluid">
        <div class="section-header">
          
          <h3 class="section-title"><a href="#intro">About The Data</a></h3>
          <span class="section-divider"></span>
          <p class="section-description"></p>
        
        </div>

        <div class="row">
          <div class="col-lg-6 about-img wow fadeInLeft">
            <img src="{{ url_for('static', filename='img/about-img.jpg') }}" alt="">
          </div>

          <div class="col-lg-6 content wow fadeInRight">
        
            <p>
              Citi Bike is the nation's largest bike share program,
              with 12,000 bikes and 750 stations across Manhattan, Brooklyn, Queens and Jersey City. 
              It was designed for quick trips with convenience in mind, 
              and it’s a fun and affordable way to get around town.
            </p>

            <p>Which stations are most popular? Has the proportion of short-term customers and annual subscribers changed?
              What is the gender breakdown of active participants (Male v. Female)? 
              How does the average trip duration change by age?
              The data collected by Citibike in the following areas helps answer these and other questions.</p>
          <ol>
            <li>Trip Duration (seconds)</li>
            <li>Start Time and Date</li>
            <li>Stop Time and Date</li>
            <li>Start Station Name</li>
            <li>End Station Name</li>
            <li>Station ID</li>
            <li>User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member)</li>
            <li>Gender</li>
            <li>Year of Birth</li>
          </ol>
          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      The Process Section
    ============================-->
    <section id="features">
      <div class="container">

        <div class="row">
          <div class="col-lg-8 offset-lg-4">
            <div class="section-header wow fadeIn" data-wow-duration="1s">
              <h3 class="section-title"><a href="#intro">The Process</a></h3>
              <span class="section-divider"></span>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 features-img">
            <img src="{{ url_for('static', filename='img/product-features.jpg') }}" alt="" class="wow fadeInLeft">
          </div>

          <div class="col-lg-8 col-md-7 ">

            <div class="row">

              <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                    <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                    <h4 class="title"><a href="">The Data Source</a></h4>
                    <p class="description">
                    <a href='https://www.citibikenyc.com/system-data'>The Citi Bike datasets </a>
                      are publicly available.</p>
              </div>


              <div class="col-lg-6 col-md-6 box wow fadeInRight">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                <h4 class="title"><a href="">Selecting the Data</a></h4>
                <p class="description"></p>
                <ul class="description">
                  <li>Used two data sets</li>
                  <li>March 2018 and March 2019</li>
                  <li>Over 40,000+ records</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                <div class="icon"><i class="ion-ios-flask-outline"></i></div>
                <h4 class="title"><a href="">Cleaning the Data</a></h4>
                <p class="description">Removing or handling any unwanted data.</p>
                <ul class="description">
                    <li>Replaced the numeric representation of gender to 
                      “undeclared”, “male” and “female”</li>
                    
                  </ul>
              </div>
              <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                <div class="icon"><i class="ion-social-buffer-outline"></i></div>
                <h4 class="title"><a href="">Extracting Additional Data</a></h4>
                <ul class="description">
                      <li>Changed trip duration from minutes to hours.</li>
                      <li>Calculated age from the birth year.</li>
                      <li>Extracted year from start date and time</li>
                      <li>Created a table ‘start_stations’ containing the columns Start Station ID, 
                        Start Station Name, Start Station Latitude, 
                        Start Station Longitude and an identical table for end stations.</li>
                 </ul>
              </div>
             
            
            </div>

          </div>

        </div> 

      </div>

    </section>
    <!-- #features -->

    

    <!--==========================
      Teck Stack
    ============================-->
    <section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title"><a href='#intro'>Teck Stack</a></h3>
          <span class="section-divider"></span>
          <p class="section-description">
              · Bootstrap (StartBootstrap) · Common Libraries (Pandas, Sqlalchemy) · Flask · 
               HTML/CSS · Jupyter Notebook · MySQL · 
               Python · JavaScript · Tableau · Leaflet
          </p>
          
          <p class="section-description">Thank you to pointhi for leaftlet marker colors and Chris Coyier
            for the table filter code.
          </p>
        </div>

      </div>
    </section><!-- #team -->

     <!--==========================
      Next Steps
    ============================-->
    <section id="faq">
        <div class="container">
  
          <div class="section-header">
            <h3 class="section-title"><a href='#intro'>“How did it get so late so soon?” 
              ― Dr. Seuss</a></h3>
            <span class="section-divider"></span>
          </div>
  
          <ul id="faq-list" class="wow fadeInUp">
            
            <li>
              <a data-toggle="collapse" class="collapsed">
               <s>Deploy on Heroku.</s> Done
               <br/>
              </a>
            </li>

            <li>
              <a data-toggle="collapse" class="collapsed">
                Load all 40,000 records.
               <br/>
              </a>
            </li>
  
            <li>
              <a data-toggle="collapse" class="collapsed">
                Create a legend in Leaflet.
               <br/>
              </a>
            </li>

            <li>
              <a data-toggle="collapse" class="collapsed">
                Refine the table filter.
               <br/>
              </a>
            </li>

            <li>
              <a data-toggle="collapse" class="collapsed">
                Compare data over seasons.
               <br/>
              </a>
            </li>
          </ul>
  
        </div>
      </section><!-- #faq -->
    

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container">
        <div class="row wow fadeInUp">
        
          <div class="col-lg-4 col-md-4">
            <div class="contact-about">
              <h3><a href='#intro'>About Me</a></h3>
              <p>A graduate from the University of Arizona Data Analytics Bootcamp,
                I am a result-driven Data Analyst with skills in Python, SQL, JavaScript, and Tableau.
                  A former special education professional with extensive experience collaborating with teams, 
                  I possesses analytical, problem-solving, time-management, and decision-making skills. 
                  I am a detail-oriented and organized professional who is open to opportunities 
                in a dynamic environment with potential for growth.</p>
              
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="info">

              <div>
                <i class="ion-ios-location-outline"></i>
                <p>Phoenix, AZ 85027</p>
              </div>

              <div>
                <i class="ion-ios-email-outline"></i>
                <a href="mailto:dinshawdiana@gmail.com">dinshawdiana@gmail.com</a>
                <!-- <p>dinshawdiana@gmail.com</p> -->
              </div>
              </br>

              <div>
                <i class="ion-ios-telephone-outline"></i>
                <p>623-363-7979</p>
              </div>
             </br>

              <div>
                <i class="ion-ios-email-outline"></i>
                <a href="https://deedeeshaw.github.io/Resume/index.html" target="_blank">=+=+= My Resume =+=+=</a>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
                <img src="{{ url_for('static', filename='img/contact.jpg') }}" alt="" class="wow fadeInLeft">
              
            </div>
          </div>

            </div>
          </div>

        
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Diana Dinshaw * 2019</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Avilon
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <!-- <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a> -->
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <!-- <script src="contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
